// UNIVERSAL PROPERTIES

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  padding: 3rem;
  background: linear-gradient(to right, #6190e8, #a7bfe8);
}

html {
  font-size: 62.5%;
}

.title {
  padding: 3.2rem;
  font-size: 5rem;
  text-align: center;
  background-color: blue;
  transform: scale(0.5) skew(-15deg);
  color: white;
}

//variables
$--primary-gradient-background: linear-gradient(
  90deg,
  rgba(255, 255, 255, 1) 60%,
  rgba(167, 191, 232, 1) 60%,
  rgba(167, 191, 232, 1) 70%,
  rgba(139, 159, 236, 1) 70%,
  rgba(139, 159, 236, 1) 80%,
  rgba(84, 96, 244, 1) 80%,
  rgba(84, 96, 244, 1) 90%,
  rgba(38, 0, 255, 1) 90%,
  rgba(38, 0, 255, 1) 100%
);
