@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

// Color Variables
:root {
  --primary-color: #f1f1f1;
  --darker-shade: rgb(58, 56, 56);
  --secondary-color: #002bff;
  --third-color: #7a7676;
  --white: #fff;
  --dark-color: #000;
}

// Body
body {
  background: var(--primary-color);
  margin: 0;
  font-family: "Poppins";
}

// Default Elements
section {
  padding: 5em 2em;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

iframe {
  width: 100%;
  height: 300px;
}

// Navigation Styling

.navbar {
  background: var(--white);
  padding: 1em 0.5em 3px;

  .logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--secondary-color);
  }
  nav {
    display: none;
  }
  .logo span {
    color: var(--dark-color);
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
  }
}

// Hero Section
.hero {
  text-align: center;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 43, 255, 0.8104283949908089)
  );
}

.left-side {
  .subhead {
    margin-bottom: 5%;
    font-size: 2.5em;
  }
  .subhead .nameIntro {
    color: var(--secondary-color);
    font-weight: 700;
  }

  .subhead .hi {
    color: white;
  }
  .subhead .hi:before {
    content: "Hi.";
    animation: animate infinite 15s;
    animation-delay: 1s;
    text-shadow: 0 0 7px #fff, 0 0 10px rgb(0, 38, 255), 0 0 21px #fff,
      0 0 42px rgb(255, 255, 255), 0 0 82px rgb(255, 255, 255),
      0 0 92px rgb(255, 255, 255), 0 0 102px rgb(198, 204, 202),
      0 0 151px rgb(32, 34, 33);
  }

  @keyframes animate {
    0% {
      content: "Hi.";
    }
    10% {
      content: "Hi.";
    }
    20% {
      content: "Bonjour.";
    }
    40% {
      content: "Hola.";
    }
    60% {
      content: "Nǐn hǎo.";
    }
    80% {
      content: "Guten Tag.";
    }
    100% {
      content: "Salam.";
    }
  }

  .learnButton {
    background: var(--secondary-color);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: var(--white);
    font-weight: 700;
    transition: ease-out 0.5s;
  }

  .learnButton:hover {
    letter-spacing: 6px;
    background: var(--white);
    color: var(--secondary-color);
  }

  svg {
    display: none;
  }
}

// About Section

.about-section {
  background: var(--darker-shade);
  .titleAbout {
    font-weight: 700;
    color: white;
  }

  .titleAbout span {
    color: var(--secondary-color);
  }

  .paraAbout {
    margin-bottom: 5%;
    color: white;
  }

  .aboutButton {
    background: var(--secondary-color);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: var(--white);
    font-weight: 700;
    transition: ease-out 0.5s;
  }

  .aboutButton:hover {
    letter-spacing: 3px;
    background: var(--white);
    color: var(--secondary-color);
  }
}

// Portfolio Section

.portfolio-section {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  h2 {
    text-align: center;
    color: var(--white);
    font-size: 2em;
    margin-bottom: 1.5em;
    margin-top: 10px;
    font-weight: 700;
  }
  h2 span {
    color: var(--secondary-color);
    text-shadow: 0 0 0px #002bff, 0 0 0px #002bff, 0 0 0px #002bff,
      0 0 0px #002bff, 0 0 0px #002bff, 0 0 5px #002bff, 0 0 102px #002bff,
      0 0 151px #002bff;
  }

  li {
    background: var(--white);
    text-align: center;
    padding: 2em 1em;
    margin: 0 auto 5em auto;
    width: 80%;
    border-radius: 20px;
    border: 10px solid #002bff;
    img {
      width: 5em;
      height: 3em;
      border: 5px solid var(--secondary-color);
      margin-top: -1em;
    }

    .webLink {
      background: var(--secondary-color);
      padding: 10px 20px 10px 20px;
      border-radius: 20px;
      color: var(--white);
      font-weight: 700;
      transition: ease-out 0.5s;
      cursor: pointer;
    }

    .webLink:hover {
      letter-spacing: 3px;
    }
  }
}

// Contact Section
.contact-section {
  background: var(--darker-shade);

  h2 {
    font-size: 2em;
    color: var(--white);
  }

  h2 span {
    color: var(--secondary-color);
  }

  form {
    display: block;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1.5em;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .send-message {
    width: 100%;
    border: none;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    background: var(--secondary-color);
    color: white;
    font-weight: 700;
    transition: ease-out 0.5s;
    cursor: pointer;
  }

  .send-message:hover {
    letter-spacing: 3px;
    background: var(--white);
    color: var(--secondary-color);
  }
  a {
    background: var(--white);
    display: inline-block;
    margin-top: 50px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    font-weight: 700;
    color: var(--secondary-color);
  }
  a:hover {
    background: #002bff;
    color: var(--white);
  }
}

// Hamburger Menu Styling
nav.menuButton {
  display: block;
}

.exit-menu {
  margin: 0.6em;
  float: right;
  filter: invert(1);
  cursor: pointer;
}

nav {
  background: var(--secondary-color);
  opacity: 0.7;

  z-index: 1000;
  width: 66%;
  height: 100vh;
  padding: 1em;
  right: 0;
  top: 0;
  position: fixed;

  .navigation {
    margin-top: 5em;
  }

  li {
    a {
      color: var(--white);
      text-decoration: none;
      text-align: center;
      font-size: 2em;
      padding: 30px 30px;
      display: block;
    }

    a:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

// Responsive CSS

@media only screen and (min-width: 800px) {
  .mobile-menu,
  .exitMenu {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }

    a {
      color: black;
      font-size: 1em;
      padding: 0.1em 1em;
    }

    ul {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }

  section {
    padding: 5em 5em;
  }

  .hero .container {
    text-align: center;
  }

  .subhead {
    margin-top: 10%;
  }

  .learnButton {
    margin-bottom: 60%;
  }

  .about-section .container {
    text-align: left;
    margin-left: 3%;
  }
}
