@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  padding: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#6190e8), to(#a7bfe8));
  background: linear-gradient(to right, #6190e8, #a7bfe8);
}

html {
  font-size: 62.5%;
}

.title {
  padding: 3.2rem;
  font-size: 5rem;
  text-align: center;
  background-color: blue;
  -webkit-transform: scale(0.5) skew(-15deg);
          transform: scale(0.5) skew(-15deg);
  color: white;
}

/*****************************************/
/* NAVIGATION */
/*****************************************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*vertical align*/
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(60%, #a7bfe8), color-stop(70%, #a7bfe8), color-stop(70%, #8b9fec), color-stop(80%, #8b9fec), color-stop(80%, #5460f4), color-stop(90%, #5460f4), color-stop(90%, #2600ff), to(#2600ff));
  background: linear-gradient(90deg, white 60%, #a7bfe8 60%, #a7bfe8 70%, #8b9fec 70%, #8b9fec 80%, #5460f4 80%, #5460f4 90%, #2600ff 90%, #2600ff 100%);
  padding: 0 4.8rem;
  border-bottom: none;
  z-index: 100;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  outline: none;
  /* For Sticky */
  height: 9.6rem;
}

.main--nav {
  background-color: none;
  width: 100%;
  padding: 3rem;
  z-index: 1000;
}

.main-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.2rem;
}

.main-nav-list li a {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.main-nav-list li a:hover {
  font-weight: 700;
}

.main-nav-list #specialText {
  color: blue;
  font-weight: 700;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*****************************************/
/* HERO */
/*****************************************/
.section--hero {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(60%, #a7bfe8), color-stop(70%, #a7bfe8), color-stop(70%, #8b9fec), color-stop(80%, #8b9fec), color-stop(80%, #5460f4), color-stop(90%, #5460f4), color-stop(90%, #2600ff), to(#2600ff));
  background: linear-gradient(90deg, white 60%, #a7bfe8 60%, #a7bfe8 70%, #8b9fec 70%, #8b9fec 80%, #5460f4 80%, #5460f4 90%, #2600ff 90%, #2600ff 100%);
  padding: 12.4rem 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  text-align: center;
}

.name {
  font-size: 9.6rem;
  font-family: "Bilbo Swash Caps", cursive;
  color: white;
  text-shadow: 0 0 7px blue, 0 0 10px blue, 0 0 21px blue;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.description {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 6.4rem;
}

.hero--cta {
  padding: 1.2rem 3.6rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#0000ffff), color-stop(51%, #a7bfe8), to(#0000ffff));
  background-image: linear-gradient(to right, #0000ffff 0%, #a7bfe8 51%, #0000ffff 100%);
  background-size: 200% auto;
  border-radius: 10px;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero--cta:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/*****************************************/
/* ABOUT */
/*****************************************/
.section--about {
  margin-top: 3.2rem;
  background-color: white;
  border-radius: 20px;
}

.about {
  max-width: 130rem;
  margin: 0 auto;
  padding: 3.2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.7;
}

.about .about-text p {
  margin-bottom: 2.2rem;
}

.about .about-text .about--cta {
  color: blue;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.about .about-text .about--cta:hover {
  letter-spacing: 6px;
}

.about .about-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-img .img-row {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9.6rem;
  row-gap: 4.8rem;
}

.about .about-img .img-row img {
  margin-bottom: 4.8rem;
  width: 75px;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.about .about-img .img-row img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*****************************************/
/* PROJECTS */
/*****************************************/
.section--projects {
  margin-top: 3.2rem;
  background-color: white;
  border-radius: 20px;
}

.projects {
  margin: 0 auto;
  width: 100%;
}

.carousel-container {
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
  height: 60rem;
  /* IN THE END */
  overflow: hidden;
}

.carousel-container .carousel {
  background: white;
  border-radius: 8px;
  padding: 4rem;
  margin-top: 4.8rem;
  position: absolute;
  top: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.carousel-container .carousel .carousel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-container .carousel .carousel-header {
  position: absolute;
  background: blue;
  padding: 1rem;
  -webkit-transform: translateY(-30px) scale(1) skewX(-15deg);
          transform: translateY(-30px) scale(1) skewX(-15deg);
}

.carousel-container .carousel .carousel-header h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.carousel-container .carousel .carousel-caption {
  font-size: 2rem;
  line-height: 1.7;
  padding: 10px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 2rem 0;
}

.carousel-container .carousel img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px auto;
  width: 50%;
  height: 25%;
  padding: 10px;
}

.carousel-container .carousel .carousel-links {
  margin-bottom: 20px;
}

.carousel-container .carousel .carousel-links a {
  padding: 1.2rem 3rem;
  background-color: blue;
  color: white;
  font-size: 2.2rem;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 700;
  margin-right: 20px;
}

.slider__btn {
  position: absolute;
  z-index: 100;
  border: none;
  background: blue;
  font-family: inherit;
  color: white;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  -webkit-transform: translateY(-600%);
          transform: translateY(-600%);
  opacity: 0.5;
}

.slider__btn--left {
  left: 6%;
}

.slider__btn--right {
  right: 6%;
}

/*****************************************/
/* CONTACT SECTION */
/*****************************************/
.section--contact {
  margin-top: 3.2rem;
  background-color: white;
  border-radius: 20px;
}

.contact {
  max-width: 130rem;
  margin: 0 auto;
  padding: 3.2rem;
  width: 80%;
}

.contact .contact-container {
  margin: auto;
  background: -webkit-gradient(linear, left top, right top, from(#6190e8), to(#a7bfe8));
  background: linear-gradient(to right, #6190e8, #a7bfe8);
  padding: 3.2rem;
  border-radius: 9px;
}

.contact .contact-container form {
  display: block;
}

.contact .contact-container form input,
.contact .contact-container form textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1.5em;
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .contact-container .send-message {
  width: 100%;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  border: 0;
  background: white;
  color: blue;
  font-weight: 700;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.contact .contact-container .send-message:hover {
  background-color: blue;
  color: white;
}

/*****************************************/
/** MEDIA QUERIES SECTION */
/*****************************************/
@media only screen and (max-width: 450px) {
  .img-row {
    margin: 2.2rem auto !important;
    gap: 1.1rem !important;
    row-gap: 0;
  }
  .img-row img {
    margin-bottom: 0;
    width: 50px;
  }
  .projects {
    padding: 0 !important;
  }
  .carousel-container {
    margin-top: 1rem 0 !important;
    padding: 1rem !important;
    text-align: center !important;
    height: 80rem !important;
  }
  .carousel-container img {
    width: 150px !important;
  }
  .carousel-container .carousel-header {
    font-size: 1.5rem !important;
    -webkit-transform: translateY(-30px) scale(1) skewX(-15deg) !important;
            transform: translateY(-30px) scale(1) skewX(-15deg) !important;
    margin-bottom: 30px !important;
  }
  .contact {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-caption {
    margin-bottom: 0 !important;
    text-align: left;
  }
  .carousel-links a {
    padding: 2rem !important;
    font-size: 1rem 3rem !important;
    margin-right: 10px !important;
  }
  .carousel-content img {
    width: 250px !important;
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0rem !important;
  }
  .carousel-content {
    display: block !important;
    text-align: center;
  }
  .carousel-content img {
    width: 300px !important;
  }
  .carousel-links {
    margin: auto;
    text-align: center;
  }
  .about-img {
    margin: 20px 0 !important;
  }
}

@media only screen and (max-width: 992px) {
  .carousel-links a {
    padding: 1rem 2rem !important;
    font-size: 1rem;
  }
  .carousel-caption {
    font-size: 1rem !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .about {
    display: block;
  }
  .carousel-header {
    font-size: 2rem !important;
  }
  .carousel-caption {
    font-size: 1.7rem !important;
  }
}

@media only screen and (min-width: 1920px) {
  .section--hero {
    padding: 30rem 0 !important;
  }
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader-content {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader-content img {
  -webkit-animation: spin 5s linear;
          animation: spin 5s linear;
}

@-webkit-keyframes spin {
  30% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  30% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader-back {
  margin: auto;
  width: 100%;
  position: relative;
  height: 0.2rem;
  padding: 2px 0;
}

.loader-front {
  position: relative;
  width: 10%;
  height: 0.1rem;
  margin: auto;
  background-color: blue;
  -webkit-animation: extend 7s linear;
          animation: extend 7s linear;
}

@-webkit-keyframes extend {
  0% {
    width: 10%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes extend {
  0% {
    width: 10%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */