@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

section {
  padding: 5em 2em;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

iframe {
  width: 100%;
  height: 300px;
}

.navbar {
  background: #fff;
  padding: 1em 0.5em 3px;
}

.navbar .logo {
  margin-bottom: 10px;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
  margin-bottom: 10px;
}

.navbar .home {
  color: #002bff;
  font-weight: 700;
}

.hero {
  text-align: center;
  background: linear-gradient(45deg, white 0%, rgba(0, 43, 255, 0.810428));
}

.left-side .subhead {
  margin-bottom: 5%;
  font-size: 2.5em;
}

.left-side .subhead .nameIntro {
  color: #002bff;
  font-weight: 700;
}

.left-side .subhead .hi {
  color: #fff;
}

.left-side .subhead .hi:before {
  content: "Hi.";
  -webkit-animation: animate infinite 15s;
          animation: animate infinite 15s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  text-shadow: 0 0 7px #fff, 0 0 10px #0026ff, 0 0 21px #fff, 0 0 42px white, 0 0 82px white, 0 0 92px white, 0 0 102px #c6ccca, 0 0 151px #202221;
}

@-webkit-keyframes animate {
  0% {
    content: "Hi.";
  }
  10% {
    content: "Hi.";
  }
  20% {
    content: "Bonjour.";
  }
  40% {
    content: "Hola.";
  }
  60% {
    content: "Nǐn hǎo.";
  }
  80% {
    content: "Guten Tag.";
  }
  100% {
    content: "Salam.";
  }
}

@keyframes animate {
  0% {
    content: "Hi.";
  }
  10% {
    content: "Hi.";
  }
  20% {
    content: "Bonjour.";
  }
  40% {
    content: "Hola.";
  }
  60% {
    content: "Nǐn hǎo.";
  }
  80% {
    content: "Guten Tag.";
  }
  100% {
    content: "Salam.";
  }
}

.left-side .l a {
  margin-right: 20px;
}

.left-side .l a img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.left-side svg {
  display: none;
}

.left-side .nameIntro {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.left-side .nameIntro:hover {
  color: #fff;
  text-shadow: 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 10px #ffffff;
}

.about-section {
  background: #3a3838;
}

.about-section .titleAbout {
  font-weight: 700;
  color: #fff;
}

.about-section .titleAbout span {
  color: #002bff;
}

.about-section .paraAbout {
  margin-bottom: 5%;
  color: #fff;
}

.about-section .aboutButton {
  background: transparent;
  border: 3px solid #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.about-section .aboutButton:hover {
  border: 3px solid #002bff;
  background: #002bff;
  color: #fff;
}

.portfolio-section {
  background: radial-gradient(circle, #3f5efb 0%, white 100%);
}

.portfolio-section h2 {
  text-align: center;
  color: #fff;
  font-size: 2em;
  margin-bottom: 1.5em;
  margin-top: 10px;
  font-weight: 700;
}

.portfolio-section h2 span {
  color: #002bff;
  text-shadow: 0 0 0px #002bff, 0 0 0px #002bff, 0 0 0px #002bff, 0 0 0px #002bff, 0 0 0px #002bff, 0 0 5px #002bff, 0 0 102px #002bff, 0 0 151px #002bff;
}

.portfolio-section .projectBox {
  margin: 0 auto 3em auto;
  width: 300px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.692);
  text-align: center;
  border-radius: 9px;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;
  border: 0.5px solid #002bff;
  padding-top: 5px;
  list-style-type: none;
}

.portfolio-section .projectBox:hover {
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.portfolio-section .projectBox h1 {
  color: #002bff;
  font-weight: 700;
  font-size: 1.3em;
  padding-top: 20px;
}

.portfolio-section .projectBox p {
  font-weight: 300;
  text-align: left;
}

.portfolio-section .projectBox .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio-section .projectBox .links a {
  margin-top: 20px;
  background: #002bff;
  padding: 10px 15px 10px 15px;
  color: white;
  border-radius: 9px;
}

.portfolio-section .projectBox .links a:hover {
  color: #002bff;
  background: #fff;
}

.contact-section {
  background: #3a3838;
}

.contact-section h2 {
  font-size: 2em;
  color: #fff;
}

.contact-section h2 span {
  color: #002bff;
}

.contact-section form {
  display: block;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1.5em;
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-section .send-message {
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  background: #002bff;
  color: #fff;
  font-weight: 700;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  cursor: pointer;
}

.contact-section .send-message:hover {
  letter-spacing: 3px;
  background: #fff;
  color: #002bff;
}

.contact-section a {
  background: #fff;
  display: inline-block;
  margin-top: 50px;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  font-weight: 700;
  color: #002bff;
}

.contact-section a:hover {
  background: #002bff;
  color: #fff;
}

nav.menuButton {
  display: block;
}

.exit-menu {
  margin: 0.6em;
  float: right;
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}

nav {
  background: #002bff;
  opacity: 0.7;
  z-index: 1000;
  width: 66%;
  height: 100vh;
  padding: 1em;
  right: 0;
  top: 0;
  position: fixed;
}

nav .navigation {
  margin-top: 5em;
}

nav li a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  padding: 30px 30px;
  display: block;
}

nav li a:hover {
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  .mobile-menu,
  .exitMenu {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul {
    margin: 0;
  }
  .navbar nav li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #002bff;
    display: block;
    margin: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar nav li a:hover::after {
    width: 100%;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 5em 5em;
  }
  .hero .container {
    text-align: center;
  }
  .subhead {
    margin-top: 10%;
  }
  .learnButton {
    margin-bottom: 60%;
  }
  .about-section .container {
    text-align: left;
    margin-left: 3%;
  }
  .logo {
    margin-left: 0;
  }
  .portfolio-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */