@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --primary-color: #f1f1f1;
  --darker-shade: rgb(58, 56, 56);
  --secondary-color: #002bff;
  --third-color: #7a7676;
  --white: #fff;
  --dark-color: #000;
}

body {
  background: var(--primary-color);
  margin: 0;
  font-family: "Poppins";
}

section {
  padding: 5em 2em;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

iframe {
  width: 100%;
  height: 300px;
}

.navbar {
  background: var(--white);
  padding: 1em 0.5em 3px;
}

.navbar .logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  color: var(--secondary-color);
  opacity: 0;
}

.navbar nav {
  display: none;
}

.navbar .logo span {
  color: var(--dark-color);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.navbar .home {
  color: var(--secondary-color);
  font-weight: 700;
}

.hero {
  text-align: center;
  background: linear-gradient(45deg, white 0%, rgba(0, 43, 255, 0.810428));
}

.left-side .subhead {
  margin-bottom: 5%;
  font-size: 2.5em;
}

.left-side .subhead .nameIntro {
  color: var(--secondary-color);
  font-weight: 700;
}

.left-side .subhead .hi {
  color: white;
}

.left-side .subhead .hi:before {
  content: "Hi.";
  -webkit-animation: animate infinite 15s;
  animation: animate infinite 15s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  text-shadow: 0 0 7px #fff, 0 0 10px #0026ff, 0 0 21px #fff, 0 0 42px white,
    0 0 82px white, 0 0 92px white, 0 0 102px #c6ccca, 0 0 151px #202221;
}

@-webkit-keyframes animate {
  0% {
    content: "Hi.";
  }
  10% {
    content: "Hi.";
  }
  20% {
    content: "Bonjour.";
  }
  40% {
    content: "Hola.";
  }
  60% {
    content: "Nǐn hǎo.";
  }
  80% {
    content: "Guten Tag.";
  }
  100% {
    content: "Salam.";
  }
}

@keyframes animate {
  0% {
    content: "Hi.";
  }
  10% {
    content: "Hi.";
  }
  20% {
    content: "Bonjour.";
  }
  40% {
    content: "Hola.";
  }
  60% {
    content: "Nǐn hǎo.";
  }
  80% {
    content: "Guten Tag.";
  }
  100% {
    content: "Salam.";
  }
}

.left-side .learnButton {
  background: var(--secondary-color);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  color: var(--white);
  font-weight: 700;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.left-side .learnButton:hover {
  letter-spacing: 6px;
  background: var(--white);
  color: var(--secondary-color);
}

.left-side svg {
  display: none;
}

.about-section {
  background: var(--darker-shade);
}

.about-section .titleAbout {
  font-weight: 700;
  color: white;
}

.about-section .titleAbout span {
  color: var(--secondary-color);
}

.about-section .paraAbout {
  margin-bottom: 5%;
  color: white;
}

.about-section .aboutButton {
  background: var(--secondary-color);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  color: var(--white);
  font-weight: 700;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.about-section .aboutButton:hover {
  letter-spacing: 3px;
  background: var(--white);
  color: var(--secondary-color);
}

.portfolio-section {
  background: radial-gradient(circle, #3f5efb 0%, white 100%);
}

.portfolio-section h2 {
  text-align: center;
  color: var(--white);
  font-size: 2em;
  margin-bottom: 1.5em;
  margin-top: 10px;
  font-weight: 700;
}

.portfolio-section h2 span {
  color: var(--secondary-color);
  text-shadow: 0 0 0px #002bff, 0 0 0px #002bff, 0 0 0px #002bff,
    0 0 0px #002bff, 0 0 0px #002bff, 0 0 5px #002bff, 0 0 102px #002bff,
    0 0 151px #002bff;
}

.portfolio-section li {
  margin: 0 auto 3em auto;
  width: 300px;
  height: 230px;
  text-align: center;
  border-radius: 9px;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.portfolio-section button {
  margin-left: -10px;
  width: 300px;
  height: 230px;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
}

.portfolio-section img {
  border-radius: 9px;
  margin-left: 0;
}

.contact-section {
  background: var(--darker-shade);
}

.contact-section h2 {
  font-size: 2em;
  color: var(--white);
}

.contact-section h2 span {
  color: var(--secondary-color);
}

.contact-section form {
  display: block;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1.5em;
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact-section .send-message {
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  background: var(--secondary-color);
  color: white;
  font-weight: 700;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  cursor: pointer;
}

.contact-section .send-message:hover {
  letter-spacing: 3px;
  background: var(--white);
  color: var(--secondary-color);
}

.contact-section a {
  background: var(--white);
  display: inline-block;
  margin-top: 50px;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  font-weight: 700;
  color: var(--secondary-color);
}

.contact-section a:hover {
  background: #002bff;
  color: var(--white);
}

nav.menuButton {
  display: block;
}

.exit-menu {
  margin: 0.6em;
  float: right;
  -webkit-filter: invert(1);
  filter: invert(1);
  cursor: pointer;
}

nav {
  background: var(--secondary-color);
  opacity: 0.7;
  z-index: 1000;
  width: 66%;
  height: 100vh;
  padding: 1em;
  right: 0;
  top: 0;
  position: fixed;
}

nav .navigation {
  margin-top: 5em;
}

nav li a {
  color: var(--white);
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  padding: 30px 30px;
  display: block;
}

nav li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (min-width: 800px) {
  .mobile-menu,
  .exitMenu {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul {
    margin: 0;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 5em 5em;
  }
  .hero .container {
    text-align: center;
  }
  .subhead {
    margin-top: 10%;
  }
  .learnButton {
    margin-bottom: 60%;
  }
  .about-section .container {
    text-align: left;
    margin-left: 3%;
  }
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */
